@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import "swiper/css";
@import "swiper/css/navigation";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-beige: #f4f9ff;
  --color-olive: #ff8706;
  --color-white: #FFFFFF;
  --color-gold: #f4f9ff;
  --color-text-dark: #111010;
  --color-text-light: #666666;
}



@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Amiri';
    background: white;

    /* font-style: italic; */
    /* font-weight: 700; */
  }

  body {
    background: white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
    color: #ff8706;
    font-style: italic;

  }

  h2,
  h3 {
    color: #ff8706 !important;
  }

  .section-padding {
    @apply py-16 px-4 md:px-8 lg:px-16;
  }

  .transition-custom {
    @apply transition-all duration-300 ease-in-out;
  }

  .btn-primary {
    @apply bg-olive text-white py-3 px-6 rounded-md hover:bg-opacity-90 transition-custom;
    /* background: #0753c5; */
    background: #ff8706;
  }

  .btn-secondary {
    @apply bg-gold text-white py-3 px-6 rounded-md hover:bg-opacity-90 transition-custom;
    /* background-color: #0753c5; */
    background: #ff8706;
  }

  .input-field {
    @apply w-full p-3 border border-orange-500 rounded-md focus:outline-none focus:ring-2 focus:ring-olive;
  }

  .section-title {
    @apply text-3xl md:text-4xl font-bold mb-8 text-olive;
  }

  .section-subtitle {
    @apply text-xl mb-4 text-text-light;
  }
}

.rtl {
  direction: rtl;
}

.bg-olive {
  background-color: #ff8706 !important;
}

.text-olive {
  color: #ff8706;
}

.section-subtitle {
  color: black;
}

.text-text-dark {
  color: rgb(0, 0, 0);
}

.text-olive {
  color: #ff8706 !important;
}